#panel_itemtable {
	height: 100%;
}

.itemtable {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	overflow: scroll;
	max-height: 100%;

	.resize_handle {
		display: block;
		position: absolute;
		cursor: col-resize;
		width: 4px;
		left: -2px;
		top: 0;
		z-index: 1;
		background-color: var(--mantine-color-dark-5);
		&:hover {
			background-color: var(--mantine-color-white);
		}
		&.active {
			background-color: var(--mantine-primary-color-9);
		}
	}

	thead th {
		user-select: none;
		border-bottom: 2px solid var(--mantine-color-dark-5);
		background-color: var(--mantine-color-dark-7);
		position: sticky;
		top: 0;
		height: min-content;
	}

	thead,
	tbody,
	tr {
		display: contents;
	}

	th {
		position: relative;
		font-size: 1.1rem;
		text-align: left;
		width: 100%;
		padding: 0.5rem;

		.sorticon {
			min-width: 1.5rem;
			height: 1.5rem;
			display: flex;
			align-items: center;
			color: var(--mantine-color-dimmed);

			&:hover {
				background-color: var(--mantine-color-dark-6);
			}
		}

		.menuicon {
			display: flex;
			width: 1.5rem;
			height: 1.5rem;
			align-items: center;
		}
	}

	// no border for topmost tr
	tr:nth-child(n + 2) td {
		border-top: 1px solid var(--mantine-color-dark-5);
	}

	tr.itemdata {
		height: 2rem;

		td {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: left;
			width: 100%;
			padding: 0.5rem;
			height: 2.5rem;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: 150ms;
			user-select: none;
		}

		td:nth-child(n + 2) {
			border-left: 1px solid var(--mantine-color-dark-5);
		}
	}

	tr.itemdata:hover {
		td {
			background-color: var(--mantine-color-dark-6);
		}
	}

	tr.itemdata.selected {
		td {
			background-color: var(--mantine-color-dark-5);
		}
	}
}
