.react_flow_container {
	width: 100%;
	height: 100%;
}

.react_flow {
	--xy-edge-stroke-width-default: 8 !important;
	--xy-connectionline-stroke-width-default: 8 !important;
	--xy-edge-stroke-default: var(--mantine-color-dark-6) !important;
	--xy-edge-stroke-selected-default: var(--mantine-color-dark-1) !important;
	--xy-connectionline-stroke-default: var(--mantine-color-dark-3) !important;

	--xy-attribution-background-color-default: var(
		--mantine-color-dark-8
	) !important;
}
