.sidebar {
	position: relative;
	height: 100%;
	background-color: color-mix(
		in srgb,
		var(--mantine-color-gray-9),
		var(--mantine-color-gray-8) 30%
	);
	transition-duration: 200ms;
	overflow: hidden;

	width: 12rem;

	box-shadow: 0px 0px 10px 3px var(--mantine-color-black);
}

.sidebarhide {
	width: calc(2rem + 0.5rem * 2);
}

.menubutton {
	display: block;

	width: 100%;
	cursor: pointer;

	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin: 0;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;

	.menuicon {
		display: block;
		width: 2rem;
	}
}

.item {
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin: 0;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;

	display: block;
	cursor: pointer;
	overflow-wrap: none;
	overflow: hidden;
	word-wrap: none;

	color: var(--mantine-color-white);

	&.itemactive {
		font-weight: bold;
		color: var(--mantine-color-red-7);
	}

	&:hover:not(.itemactive) {
		color: var(--mantine-color-red-5);
	}

	.itemicon {
		display: inline-block;
		width: 2rem;
		vertical-align: middle;
		align-items: center;
		transition-duration: 150ms;

		svg {
			margin: auto;
			display: block;
			height: 1.5rem;
		}
	}
}

.itemtext {
	position: absolute;

	display: inline-block;
	vertical-align: middle;
	transition: 0.5s;
	text-wrap: nowrap;
	overflow: hidden;
	margin: 0;
	margin-left: 0.5rem;

	opacity: 1;
	transition-duration: 200ms;
	transition-duration: fill 200ms;
	transition-duration: color 200ms;
}

.itemtexthide {
	opacity: 0;
	visibility: hidden;
	transition-delay: 200ms;
}

.break {
	width: calc(100% - 2ex);
	margin: 0;
	border: none;
	background-color: var(--mantine-color-gray-8);
	height: 2px;
	margin-left: 1ex;
	margin-right: 1ex;
}
