/*
TODO: implement light theme
:root[data-mantine-color-scheme="light"] {
	--mantine-color-text: var(--mantine-color-dark-9) !important;

	// Body color (here for completeness, but not used.
	// we use the --copper-color-bg-* variants below.)
	--mantine-color-body: var(--mantine-color-gray-0) !important;

	// Shades of body color
	--copper-color-bg-9: var(--mantine-color-gray-0) !important;
	--copper-color-bg-8: var(--mantine-color-gray-1) !important;
	--copper-color-bg-7: var(--mantine-color-gray-2) !important;
	--copper-color-bg-6: var(--mantine-color-gray-3) !important;
	--copper-color-bg-5: var(--mantine-color-gray-4) !important;
	--copper-color-bg-4: var(--mantine-color-gray-5) !important;
	--copper-color-bg-3: var(--mantine-color-gray-6) !important;
	--copper-color-bg-2: var(--mantine-color-gray-7) !important;
	--copper-color-bg-1: var(--mantine-color-gray-8) !important;
	--copper-color-bg-0: var(--mantine-color-gray-9) !important;
}
*/

:root[data-mantine-color-scheme="dark"] {
	--mantine-color-text: var(--mantine-color-white) !important;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}
