.main_top {
	display: flex;
	flex-direction: row;
	height: calc(100% - 30rem);
	max-width: 100%;
	gap: 3rem;

	padding: 2rem;
	overflow: hidden;
}

.main_bottom {
	height: 30rem;
	max-width: 100%;

	padding: 2rem;
	overflow: hidden;
}

.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	.panel_content {
		border-style: none;
		border-color: var(--mantine-color-dark-7);
		border-width: 0rem 0.2rem 0.2rem 0.2rem;
		border-radius: 0rem 0rem 1rem 1rem;
		width: 100%;
		padding: 1rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
