// This style is set for subtitles.
// Main title is re-styled below.
.panel_title {
	display: flex;
	align-items: center;
	text-align: left;

	// Ignore padding
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	width: calc(100% + 1rem);

	// Don't forget to change content height
	height: 2.2rem;

	padding: 0;

	user-select: none;
	color: var(--mantine-color-text);

	font-size: 1rem;
	font-weight: 300;

	background-color: var(--mantine-color-dark-6);

	.panel_icon {
		display: flex;
		align-items: center;
		transition: 200ms;

		margin: 0;
		width: 2.2rem;
		height: 100%;
		padding: 2px;
		margin-right: 0.5rem;
		background-color: var(--mantine-color-dark-5);
	}

	.panel_title_text {
		display: block;
		align-items: center;
	}
}

.panel_title_zeromargin {
	margin: 0 !important;
	margin-bottom: 0.5rem !important;
	width: 100% !important;
}

.panel {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

	background-color: var(--mantine-color-dark-8);
	border: 0px solid var(--mantine-color-dark-7);
	border-radius: 0px;
	transition: 200ms;

	// Main title
	& > .panel_title:first-child {
		margin: 0;
		font-size: 1.5rem;
		background-color: var(--mantine-primary-color-9);
		.panel_icon {
			background-color: var(--mantine-primary-color-7);
		}
	}

	.panel_content {
		& > .panel_title:first-child {
			// First child needs to ignore top padding
			margin-top: -0.5rem !important;
		}

		width: 100%;
		padding: 0.5rem;

		// Minus header height
		// (100% doesn't account for that)
		height: calc(100% - 2.2rem);
	}
}
