.main {
	display: grid;

	grid-template-columns: calc(100% - 25rem) minmax(auto, 25rem);
	grid-template-rows: minmax(0, 1fr) 20rem;

	column-gap: 0.75rem;
	row-gap: 0.75rem;

	width: 100%;
	padding: 2rem;
}
