.sidebar {
	position: relative;
	height: 100%;
	background-color: var(--mantine-color-dark-8);
	transition-duration: 200ms;
	overflow: hidden;

	box-shadow: 0px 0px 5px 0px var(--mantine-color-black);
}

.item {
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin: 0;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;

	display: block;
	cursor: pointer;
	overflow-wrap: none;
	overflow: hidden;
	word-wrap: none;

	color: var(--mantine-color-text);

	&.itemactive {
		font-weight: bold;
		color: var(--mantine-primary-color-5);
	}

	&:hover:not(.itemactive) {
		color: var(--mantine-primary-color-2);
	}

	.itemicon {
		display: inline-block;
		width: 2rem;
		vertical-align: middle;
		align-items: center;
		transition-duration: 150ms;

		svg {
			margin: auto;
			display: block;
			height: 1.5rem;
		}
	}
}

.break {
	width: calc(100% - 2ex);
	margin: 0;
	border: none;
	background-color: var(--mantine-color-gray-8);
	height: 2px;
	margin-left: 1ex;
	margin-right: 1ex;
}
