#panel_users {
	grid-row: 1 / 2;
	grid-column: 2 / 3;

	.overview_container {
		.overview_entry:first-child {
			border-top: none !important;
		}

		.overview_entry {
			display: flex;
			height: 2rem;
			transition: 200ms;
			background-color: var(--mantine-color-dark-7);
			border-top: 3px solid var(--mantine-color-dark-6);

			.overview_entry_label {
				display: flex;
				align-items: center;
				justify-content: left;
				overflow: hidden;
				user-select: none;

				width: 5rem;
				padding: 0.25rem;
				padding-left: 0.5rem;
				background-color: var(--mantine-color-dark-6);
				transition: inherit;
			}

			.overview_entry_text {
				padding: 0.25rem;
				padding-left: 0.5rem;
				flex-grow: 1;
				transition: inherit;
			}
		}
	}

	/*
	.perm_container {
		height: 10rem;
		overflow-y: scroll;

		.perm_entry {
			display: flex;
			height: 2rem;
			transition: 200ms;
			background-color: var(--mantine-color-dark-7);
			margin: 0.25rem;

			.perm_entry_switch {
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				width: 4rem;
				padding: 0.25rem;
				background-color: var(--mantine-color-dark-6);
				transition: inherit;
			}

			.perm_entry_text {
				padding: 0.25rem;
				padding-left: 0.5rem;
				flex-grow: 1;
				user-select: none;
				transition: inherit;
			}
		}
	}
	*/

	.users_container {
		height: 30rem;
		overflow-y: scroll;

		.user_entry {
			display: flex;
			height: 2rem;
			margin: 0.5rem;
			transition: 200ms;
			background-color: var(--mantine-color-dark-7);

			&:hover {
				background-color: var(--mantine-color-dark-6);
				.user_entry_icon {
					background-color: var(--mantine-primary-color-7);
				}
			}

			.user_entry_icon {
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				width: 2rem;
				padding: 0.25rem;
				background-color: var(--mantine-primary-color-8);
				transition: inherit;
			}

			.user_entry_text {
				padding: 0.25rem;
				padding-left: 0.5rem;
				flex-grow: 1;
				user-select: none;
				transition: inherit;
			}

			.user_entry_right {
				display: flex;
				align-items: center;
				justify-content: right;
				overflow: hidden;
				column-gap: 0.5rem;
				transition: inherit;

				&:hover {
					background-color: var(--mantine-color-dark-5);
				}
			}
		}
	}
}
