.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: var(--mantine-color-dark-9);
}

.login_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 25rem;
	row-gap: 1rem;
}
